name: Docker Build

on:
  push:
    branches: [ main ]
    paths:
      - 'Airflow/Dockerfile'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./Airflow
          file: ./Airflow/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/airflow-custom:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
